* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display:flexbox;
}


body {
    min-height: 100vh;
}

header {
    grid-area: header;
    gap: 1rem;
    padding: 1rem;
}
footer {
    grid-area: footer;
    padding: 1rem;
}
main {
    grid-area: main;
    display: block;
    gap: 1rem;
    padding: 1rem;
}


.navbar {
    grid-area: navbar;
    display:grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}


#New {
    grid-area: New;
    display: grid;
    grid-template-columns: 3.5fr 0.5fr;
    gap: 2rem;
    padding: 1rem;
}


#Features {
    display: grid;
    grid-template-columns: 1fr 2fr 0.45fr; /* image left, text right */
    gap: 2rem;
    padding: 1rem;
}
#Features img {
    grid-column: 1;
}
#Features ul {
    grid-column: 2;
    margin: 0;
    padding-left: 1.5rem;
}


#Specs {
    grid-area: Specs;
    display: grid;
    gap: 0rem;
    padding: 2rem;
}
#Specs ul {
    border-radius: 5pt;
    margin: 2rem;
    padding: 4rem;
}


#Price {
    display: grid;
    gap: 2rem;
    padding: 1rem;
}
table {
    border-radius: 5pt;
    padding: 2rem;
}


#Order {
    display: grid;
    border-radius: 5pt;
    gap: 2rem;
    padding: 2rem;
}
button {
    border-radius: 3pt;
    padding: 0.5rem;
    border-style: hidden;
}
label {
    gap: 1rem;
    padding: 0.5rem;
}
input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 3pt;
    border-style: hidden;
}
select {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 3pt;
    border-style: hidden;
}